<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Stepik Travel</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Stepik Travel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">From St. Petersburg</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">From Moscow</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">From Kazan</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Flights from {{ departure }}</h1>
    <h5 class="mb-4" style="color:gray;">Found {{ num_tours }} tours, $ {{ min_price }}..{{ max_price }}, from {{ min_days }} to {{ max_days }} days</h5>
    <h3>Top picks</h3>
    <!-- CARDS -->
    <div class="row mt-2">
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
          <img src="{{ preview_1.link }}/300x200" class="card-img-top embed-responsive-item" alt="">
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ preview_1.title }}</h2>
            <p class="card-text">{{ preview_1.description }}</p>
            <a href="#" class="btn btn-sm btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
          <img src="{{ preview_2.link }}/300x200" class="card-img-top embed-responsive-item" alt="">
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ preview_2.title }}</h2>
            <p class="card-text">{{ preview_2.description }}</p>
            <a href="#" class="btn btn-sm btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
          <img src="{{ preview_3.link }}/300x200" class="card-img-top embed-responsive-item" alt="">
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ preview_3.title }}</h2>
            <p class="card-text">{{ preview_3.description }}</p>
            <a href="#" class="btn btn-sm btn-primary">Details</a>
          </div>
        </div>
      </div>
    </div>
    <div class="my-3">
    <h3>Tours</h3>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>Title</th>
        <th>Country</th>
        <th>$</th>
        <th>Nights</th>
        <th>Rating</th>
        <th>Link</th>
      </tr>
      </thead>
      {% for tour in tours %}
      <tr>
        <td>{{ tour.title }}</td>
        <td>{{ tour.country }}</td>
        <td>{{ tour.price }}</td>
        <td>{{ tour.nights }}</td>
        <td>{{ tour.stars_str }}</td>
        <td><a href="{{ tour.link }}">open</a></td>
      </tr>
      {% endfor %}
    </table>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
