{% extends 'tours/base.html' %}

{% block container %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Flights from {{ departure }}</h1>
    <h5 class="mb-4" style="color:gray;">Found {{ num_tours }} tours, $ {{ min_price }}..{{ max_price }}, from {{ min_days }} to {{ max_days }} days</h5>
    <h3>Top picks</h3>
    <!-- CARDS -->
    <div class="row mt-2">
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
          <img src="{{ preview_1.link }}/300x200" class="card-img-top embed-responsive-item" alt="">
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ preview_1.title }}</h2>
            <p class="card-text">{{ preview_1.description }}</p>
            <a href="#" class="btn btn-sm btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
          <img src="{{ preview_2.link }}/300x200" class="card-img-top embed-responsive-item" alt="">
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ preview_2.title }}</h2>
            <p class="card-text">{{ preview_2.description }}</p>
            <a href="#" class="btn btn-sm btn-primary">Details</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
          <img src="{{ preview_3.link }}/300x200" class="card-img-top embed-responsive-item" alt="">
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ preview_3.title }}</h2>
            <p class="card-text">{{ preview_3.description }}</p>
            <a href="#" class="btn btn-sm btn-primary">Details</a>
          </div>
        </div>
      </div>
    </div>
    <div class="my-3">
    <h3>Tours</h3>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>Title</th>
        <th>Country</th>
        <th>$</th>
        <th>Nights</th>
        <th>Rating</th>
        <th>Link</th>
      </tr>
      </thead>
      {% for tour in tours %}
      <tr>
        <td>{{ tour.title }}</td>
        <td>{{ tour.country }}</td>
        <td>{{ tour.price }}</td>
        <td>{{ tour.nights }}</td>
        <td>{{ tour.stars_str }}</td>
        <td><a href="{{ tour.link }}">open</a></td>
      </tr>
      {% endfor %}
    </table>
  </main>

{% endblock %}
